.Pokecard {
  border: 1px solid black;
  width: 200px;
  background-color: darkgrey;
  border-radius: 15px;
  height: 200px;
}

.Pokecard-img {
  height: 90px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.Pokecard-type {
  text-align: center;
  margin: 0;
}

.Pokecard-name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 0;
}

.Pokecard-EXP {
  text-align: center;
  margin: 0;
}
.Pokecard-id {
  text-align: center;
  margin: 0;
}
